:root{
    --bg-body-color: rgb(26, 26, 29);
    --bg-card-color: rgb(126, 126, 126);
}

.cards{
    background-color: var(--bg-body-color);
}

.card11{
  max-width: 540px;
  background-color: var(--bg-body-color);
}

.cardss {
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 400px;
  width: 600px;
}
.img-container {
  transition: transform .1s ease;
}

.img-container:hover {
  transform: scale(1.1);
  /*
  Change the scale value as much as you want to change the amount of zoom on hover.
  */
}

.cardss img {
  opacity: .5;
  transform: translate(0,0);
  /*
  Change the opacity value to change how "faded" you want the image to appear when it is not hovered.
  */
  transition: opacity .25s ease-in-out;
}

.cardss img:hover {
  opacity: 1;
}

.card-title, .card-text {
  color: rgb(0, 0, 0) !important;
  font-family: "Nunito Sans", sans-serif;
}

.titulos{
  text-decoration: none;
}

/* .card img{
  object-fit: cover;  
} */

@media screen and (max-width:992px){
.cuerpo{
  padding: 5rem 7rem 0rem 7rem;
  }
} 

@media screen and (min-width:993px){
  .cuerpo{
    padding: 0rem 10rem 0rem 10rem;
  }  

  .card-title {
    color: white;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0px 6%;
    transition: background-size .5s;
    text-decoration: none;
    /* font-size: calc(1.359375rem + 1.3125vw); */
    font-family: "Nunito Sans", sans-serif;
  }
  
  .card-title:hover, .card-title:focus {
      background-size: 100% 2px;
  }
  .dropdown-menu:after{
    display: block;
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease-in;
    visibility: visible;
  }
  .divider_1{
    display: none;
  }
  .navbar-toggler-icon:hover{
    text-decoration: none;
  }
}
@media screen and (max-width:768px){
  .cuerpo{
    padding: 2rem 5rem 0rem 5rem;
  }
}
@media screen and (max-width:576px){
  .cuerpo{
    padding: 2rem 2rem 0rem 2rem;
  }
}
