:root{
    --bg-body-color: rgb(26, 26, 29);
    --bg-card-color: rgb(126, 126, 126);
}

.cards{
    background-color: var(--bg-body-color);
}

.card11{
  background-color: var(--bg-body-color);
}

.imgss{
  height: 70vh !important;
  object-fit: cover;
  width:100%;
  height:100%;
}
.cardss {
  overflow: hidden;
}

.img-container:hover {
  transform: scale(1.2); 
}

.cardss img {
  opacity: .8;
  transform: translate(0,0);   
  transition: opacity .25s ease-in-out;
}

.img-container {
  transition: all .4s ease;
}

.cardss img:hover {
  opacity: 1;
}

.card-title, .card-text {
  color: rgb(0, 0, 0) !important;
  font-family: "Nunito Sans", sans-serif;
}

.titulos{
  text-decoration: none;
}


@media screen and (max-width:992px){
.cuerpo{
  padding: 5rem 7rem 0rem 7rem;
  }
} 

@media screen and (min-width:993px){
  .cuerpo{
    padding: 0rem 10rem 0rem 10rem;
  }  

  .card-title {
    color: white;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0px 6%;
    transition: background-size .5s;
    text-decoration: none;
    /* font-size: calc(1.359375rem + 1.3125vw); */
    font-family: "Nunito Sans", sans-serif;
  }
  
  .card-title:hover, .card-title:focus {
      background-size: 100% 2px;
  }
  .dropdown-menu:after{
    display: block;
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease-in;
    visibility: visible;
  }
  .divider_1{
    display: none;
  }
  .navbar-toggler-icon:hover{
    text-decoration: none;
  }
}
@media screen and (max-width:768px){
  .cuerpo{
    padding: 2rem 5rem 0rem 5rem;
  }
}
@media screen and (max-width:576px){
  .cuerpo{
    padding: 2rem 2rem 0rem 2rem;
  }
}
