.card11 p{
  text-align: justify;
  padding: 0rem 4rem;
}

.card11 {
  justify-content: center;
  margin: 5rem 0rem;
 
}

.card22 h5{
  padding-bottom: 2rem;
  text-align: center;
}

.card22{
  border-radius: 1rem ;
}

.img-card{
    /*width: 100%;       /* Ajusta el ancho al 100% del contenedor */
    /*height: auto;      /* Mantiene la relación de aspecto de la imagen */
    /*max-width: 100%;  /* Ancho máximo fijo */
    max-height: 70vh !important; /*Altura máxima fija*/
    object-fit: cover; /* Ajusta la imagen para cubrir el área del contenedor sin distorsionar */ 
}