:root{
    --bg-body-color: rgb(30,30,30);
    --bg-card-color: rgb(126, 126, 126);
}

.bg-body-tertiary{
  --bs-bg-opacity: 0.7 !important;  
  color: black !important;
}

.navbar{
  --bs-navbar-color: black !important;
  --bs-navbar-hover-color: black !important;
  --bs-navbar-brand-color: black !important;
}

.dropdown-menu{
  background-color: rgba(255, 255, 255, 0.616) !important;
}

.dropdown-item{
  color: black !important;
  text-decoration: none !important; 
}

.dropdown-item:hover{
  background-color: transparent !important; 
  text-decoration: none !important; 
} 
